
* {
    margin: 0;
    padding: 0
}

ul{
    list-style-type: none;
}

li {
    font-size: 16px;
}

body{
    font-family: 'Raleway', sans-serif;
    background: #000;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas{
    position: absolute;
}

section{
    display: block;
}

a, 
a:hover,
a:focus{
    color: inherit;
    text-decoration: none;
}

.hero-bg{
    background-image: radial-gradient(#191e54,#000000);
}

#events svg{
    z-index: 200;
}


.updatebtn{
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translateY(-50%);
}

.close-sidebar{
    text-align: right;
}

.close-sidebar button{
    font-size: 35px;
    color: #fff;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.sidebar{
    width: 400px;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    background: #03074a;
    position: absolute;
    top: 0;
    left: -400px;
    z-index: 200;
}

.updatebtn span{
    padding: 10px 16px; 
    font-size: 35px; 
    transform: translateX(18px);
}

.navigation__checkbox {
    display: none
}

.navigation__button {
    background-color: transparent;
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    z-index: 2000;
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer
}

.navigation__background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 20px;
    left: 20px;
    background:#191e54;
    z-index: 1000;
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1)
}

.navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: -210px;
    z-index: 1500;
    opacity: 1;
    width: 0;
    -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55)
}

.navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
}


.navigation__item {
    margin: 0.3rem
}

/*.navigation__item:nth-child(8){
    display: none;
}*/


.navigation__link:link,
.navigation__link:visited {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 300;
    padding: 1rem 1rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 250%;
    -webkit-transition: all .4s;
    transition: all .4s
}

.navigation__link:link span,
.navigation__link:visited span {
    margin-right: 0;
    display: inline-block;
    visibility: hidden;
}

.navigation__link:hover,
.navigation__link:active,
.activate{
    background-position: 100%;
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
    color:#008000;
    
}


.navigation__checkbox:checked ~ .navigation__background {
    -webkit-transform: scale(80);
    transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    left: 0;
    width: 100%
}

.navigation__icon {
    position: relative;
    margin-top: 2rem
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    width: 1.5rem;
    height: 2px;
    background: #fff;
    display: inline-block
}

.navigation__icon::before,
.navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    -webkit-transition: all .2s;
    transition: all .2s
}

.navigation__icon::before {
    top: -0.6rem;
}

.navigation__icon::after {
    top: 0.6rem;
}

.navigation__button:hover .navigation__icon::before {
    top: -1rem
}

.navigation__button:hover .navigation__icon::after {
    top: 1rem
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
    background-color: transparent
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
    top: 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg)
}


.credenz-main-logo{
    width: 100%;
}

.ieeelogo{
    position: absolute;
    width: 120px;
    top: 20px;
    right: 20px;
}

.height-100{
    height: 100vh;
    overflow: hidden;
}

.align-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    opacity: inherit;
}

.social{
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 40px;
    transform: translateY(-50%);
}


.pingimg{
    width: 90%;
    margin: 0 auto;
}

.pingteam{
    margin: 10px;
}

.pingteam img{
    border-radius: 50%;
}

.logo{
    width: 150px;
}


.btn,
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: all .2s;
    transition: all .2s;
    position: relative;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.btn--padding{
    padding: 0.8rem 2rem;
}

.btn--circle{
    border-radius: 50%;
    padding: 10px 16px;
}


.btn--rounded{
    border-radius: 10rem;
}

.btn:hover {
   /* -webkit-transform: translateY(-3px);
    transform: translateY(-3px);*/
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2)
}

.btn:hover::after {
    /*-webkit-transform: scaleX(1.4) scaleY(1.6);
    transform: scaleX(1.4) scaleY(1.6);*/
    opacity: 0
}

.btn:active,
.btn:focus {
    outline: none;
    color: #fff;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
    background-color:#008000;
    color:#ffffff;
}

.btn--white::after {
    background-color: #008000;
    color: #ffffff;
}

.social a:hover{
    color: #fff;
}

.btn--green {
    background-color: #008000;
    color: #fff;
}

.btn--green::after {
    background-color: #008000;
    color: #fff;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: static;
    top: 1px;
    left: 0;
    z-index: -1;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.btn--animated {
    -webkit-animation: moveInTop .5s ease-out .75s;
    animation: moveInTop .5s ease-out .75s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

.circle{
    width: 50px;
    padding: 20px;
    box-sizing: content-box;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    background: #fff;
}

.line{
    display: block;
    margin: 10px auto;
    width: 60px;
    height: 1.5px;
    background:#ffffff;
}

.mobile{
    display: none;
}

.tablet{
    display: none;
}

.list-group{
    list-style-type: none;
}

hr{
    line-height: 20px;
}

.credenzlogo{
    width: 90vw;
    margin: 0 auto;
}
.card-style
{
    background:#fff;
    opacity: 20%;
    border-radius:5px;
    left: 30px;
}
.card
{
background:#ffffff;
opacity:0.6;
border-radius: 10px;
padding: 15px;
    /* width: 80vw; */
}
.card_contact
{
    background: #ffffff;
    opacity: 0.85;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    max-height: 600px;
    max-width:500px;
}


/*======================Hex Grid for Mobile===================*/

@media only screen and (max-width: 1200px){
    
}

@media only screen and (max-width: 960px){
    
}

@media only screen and (max-width: 768px){
    
    .sidebar{
        display: none;
    }

    .mobile{
        display: block;
        height: 100vh;
    }

    .mobile-logo{
        display: none;
    }

    .tablet-logo{
        display: block;
    }
    
    body{
        overflow: auto;
        height: auto;
    }
    #home-mob{
        display: block;
    }

    #about-mob {
        margin-top: 10%;
    }
    
    .desktop{
        display: none;
    }

    .credenz-main-logo{
        width: 90%;
    }

    .credenz-main-logo{
        width: 70%;
        transform: translateX(-10px);
    }

    .navigation__button{
        top: 20px;
        left: 20px;
        width: 3rem;
        height: 3rem;
        z-index: 50;
    }
    
    .navigation__background{
        top: 20px;
        left: 20px;
        width: 3rem;
        height: 3rem;
        z-index: 25;
    }
    
    .navigation__nav{
        z-index: 37;
    }
    
    .navigation__link:link,
    .navigation__link:visited {
        font-size: 1rem;
        font-weight: 300;
    }
    
    .navigation__checkbox:checked ~ .navigation__nav {
        opacity: 1;
        width: 100%
    }
    
    .navigation__icon::before {
        top: -0.5rem;
    }
    
    .navigation__icon{
        top: -8px;
    }
    
    .pingimg{
      width: 60%;
        margin: 0 auto;
    }

    .navigation__icon::after {
        top: 0.5rem;
    }
    
    .navigation__button:hover .navigation__icon::before {
        top: -0.5rem
    }

    .navigation__button:hover .navigation__icon::after {
        top: 0.5rem
    }
    
    .ieeelogo{
        top: 30px;
    }
    
    .social-mob{
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .social-mob a{
        color: #fff;
        /* font-size: 15px; */
    }

    .social-mob span {
        height: 10px;
        width: 10px;
        /* width: 100%;
        height: 100%; */
    }
    
    .padding-div{
        padding: 6% 0;
    }

    .pingteam{
        width: 100px;
    }

    .sponsorimg{
        width: 100%;
        margin: auto;
    }
    
    .credenzlogo{
        width: 60%;
        margin: 0 auto;
    }
    
    #hexGrid {
        padding-bottom: 11.2%
    }
    .hex {
        width: 50%
    }
    .hex:nth-child(3n+3) {
        margin-left: 25%
    }


    .navigation__item:nth-child(8){
        display: block;
    }
}

@media only screen and (max-width: 480px){
    
    .mobile-logo{
        display: block;
        width: 100%;
        height: 100%;
    }

    .tablet-logo{
        display: none;
    }
    
    #hexGrid {
        padding-bottom: 11.2%
    }

    #about-mob {
        margin-top: 10%;
    }
    .hex {
        width: 50%
    }
    .hex:nth-child(3n+3) {
        margin-left: 25%
    }

    .pingimg{
        width: 90%;
        margin: 0 auto;
    }

    .pingteam img{
        width: 180px;
        height: 100px;
    }

    .credenzlogo{
        width: 90%;
        margin: 0 auto;
    }
    
    .sponsorimg{
        width: 100%;
        margin: 0 auto;
    }
}



